@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
@font-face{
  font-family:'Pocket Monk';
  src: local('pocket monk'),url(../fonts/pocket_monk/Pocket\ Monk.otf) format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lato, sans-serif'
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  text-align: center;
  background: linear-gradient(147deg, #f6b323 0%, #f23b26 74%);
}
::selection {
  color: #fff;
  background: #f23b26;
}

.pokeselect{
  width:200px;
}

p{
  text-decoration: none;
}
